[submodule "submissions/pace_yourself/code"]
	path = submissions/pace_yourself/code
	url = https://github.com/manpen/pace25.git
	branch = submission
[submodule "pace25_ds_base/runner"]
	path = pace25_ds_base/runner
	url = https://github.com/manpen/stride_runner_domset.git
[submodule "submissions/uzl/code"]
	path = submissions/uzl/code
	url = https://github.com/mwien/PACE2025.git
[submodule "submissions/heidelberg/code"]
	path = submissions/heidelberg/code
	url = https://github.com/KennethLangedal/PACE2025.git
[submodule "submissions/bad/code"]
	path = submissions/bad/code
	url = https://github.com/Doblalex/pace2025.git
