[submodule "submissions/pace_yourself/code"]
	path = submissions/pace_yourself/code
	url = https://github.com/manpen/pace25.git
	branch = submission
[submodule "pace25_ds_base/runner"]
	path = pace25_ds_base/runner
	url = git@github.com:manpen/stride_runner_domset.git
